.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#thinkgame {
    width: 80%;
    height: 80%;
    margin: 10%;

    font-size: 2rem;
}

#think {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--sunset-color-avg);
    color: #000000;
    border: 0.2rem solid #000;
}

#think:hover {
    background-color: #000000;
    color: var(--sunset-color-avg);
    cursor: pointer;
}

#think-text {
    color: var(--text-color);
}



#gameover {
    width: 80%;
    height: 80%;
    margin: 10%;

    font-size: 2rem;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameover button {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--sunset-color-avg);
    color: #000000;
    border: 0.2rem solid #000;
}

#gameover button:hover {
    background-color: #000000;
    color: var(--sunset-color-avg);
    cursor: pointer;
}

#gameover h2 {
    color: var(--text-color);
}
