.vertical {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    text-align: center;
}

#thinkgame {
    width: 80%;
    height: 80%;
    margin-top: 35vh;
    margin-bottom: 25vh;
    margin-left: 10vw;
    margin-right: 10vw;

    font-size: 2rem;
}

#think {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--sunset-color-avg);
    color: #000000;
    border: 0.2rem solid #000;

    /* cannot select text */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    
}

#think:hover {
    background-color: #000000;
    color: var(--sunset-color-avg);
    cursor: pointer;
}

#think-text {
    color: var(--text-color);
}

.slow-hide {
    animation: slow-hide 1s ease-in-out forwards;
}
@keyframes slow-hide {
    0% {
        opacity: 1;
        pointer-events: none;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}
.slow-show {
    animation: slow-show 1s ease-in-out forwards;
}
@keyframes slow-show {
    0% {
        opacity: 0;
        pointer-events: none;
    }
    100% {
        opacity: 1;
        pointer-events: none;
    }
}

#gameover {
    width: 80%;
    height: 80%;
    margin: 10%;

    font-size: 2rem;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameover button {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--sunset-color-avg);
    color: #000000;
    border: 0.2rem solid #000;
}

#gameover button:hover {
    background-color: #000000;
    color: var(--sunset-color-avg);
    cursor: pointer;
}

#gameover h2 {
    color: var(--text-color);
}
